[user]
  name = Daichi Mukai
  email = daichi@mukai.dev

[core]
  abbrev = 12
  whitespace = trailing-space
  editor = nvim

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[pretty]
  fixes = Fixes: %h (\"%s\")

[pull]
  rebase = true

[alias]
  cm = commit
  co = checkout
  difff = diff --word-diff
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  pushf = push --force-with-lease
  st = status
  stt = status -uno

[include]
  path = ~/.gitconfig.local
